*/History/*
**/History/
**/Project Outputs for Free Documents
**/__Previews
**/Project Logs for *
**/Project Outputs for*
**/OUTPUT/
/CW308T_CEC1702/altium_src/Devboard
/CW308T_CEC1702/altium_src/Devboard*
**conflicted copy*
**.$$$
/CW308T_K82/altium_src/refs/
/CW308T_NRF52840/altium_src/nRF52840_PS_v1.0.pdf
/CW308T_CEC1702/altium_src/refs
/*/private_ordering/
*PcbDoc.htm
/CW308T_toCW312T/gerbers/01/CW308T_to_cardedge.*
.DS_Store
